* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: #fff;
    font-family: sans-serif;
    outline: none;
}
.img {
    display: flex;
    background: none;
    font-family: 'Metal', cursive;;
}
.container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.calculator {
    background: #e65100;
    padding: 15px;
    border-radius: 30px;
    box-shadow: inset 5px 5px 12px #fff,
                inset 5px 5px 12px rgba(0, 0, 0,.16);
    display: grid;
    grid-template-columns: repeat(4,70px);
}
input {
    grid-column: span 4;
    height: 70px;
    width: 260px;
    box-shadow: inset -5px -5px 12px #ffffff,
                inset 5px 5px 12px rgba(0, 0, 0,.16);
    border: none;
    border-radius: 30px;
    color: rgb(70, 70, 70);
    font-size: 50px;
    text-align: end;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 30px;
    padding: 20px;
}
button:hover {
    color: #fff;
    background: #1a237e;
}
button {
    height: 48px;
    width: 48px;
    background-color: #fff;
    box-shadow: inset -5px -5px 12px rgb(219, 210, 210),
                inset 5px 5px 12px rgba(175, 166, 166, 0.16);
    border: none;
    border-radius: 50%;
    margin: 8px;
    font-size: 16px;
}
.equal {
    width: 115px;
    border-radius: 40px;
    box-shadow: inset -5px -5px 12px #fff,
                inset 5px 5px 12px rgba(0, 0, 0,.16);
}